  <nav class="container-fluid">
    <ul>
      <li><div class="logo-area">
      <img src="https://cdn-icons-png.flaticon.com/512/4221/4221820.png" alt="logo" />
      <div class="text-area">
        <h2>มัสยิดบ้านสมเด็จ</h2>
        <p>Bansomdet Mosque</p>
      </div>
    </div></li>
    </ul>
    <ul>
      <li><a href="index.html">หน้าหลัก</a></li>
      <li><a href="#about">เกี่ยวกับเรา</a></li>
      <li><a href="PrayerTimes.html">ตารางเวลาละหมาด</a></li>
      <li><a href="News.html">ข่าวสาร</a></li>
      <li><a href="#contact">ติดต่อ</a></li>
      <li><a href="Donate.html" role="button">💰 บริจาค</a></li>
    </ul>
  </nav>